*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


/* general */
body{
  background-color: #f6f8f9;
}

/* header */
header{
  padding: 15px;
  background-color: white;
}

.logo-text{
  font-size: 40px;
  vertical-align: middle;
  font-weight: 800;
}

.logo{
  vertical-align: middle;
}

/* main */

/* colore icona hsl(222deg 9% 29%) */

.container{
  width: 50%;
  margin: 40px auto 0px;
}

/* ! si può fare un solo container con un border-bottom: 1px solid #F6F8F9; che crea uno spazio unico */
.container_1{
  background-color: white;
  padding: 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-left: 60px;
}

#button_task{
  background-color: #46adf1;
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 4px;
  width: 80px;
  height: 30px;
  display: inline-block;
  text-align: center;
  border: none;
  border: #46adf1 solid 1px;
  cursor: pointer;
}

#button_section{
  border: grey solid 1px;
  background-color: white;
  color: grey;
  padding: 5px;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.container_2{
  margin-top: 5px;
  background-color: white;
  padding: 15px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-left: 60px;
  margin-bottom: 30px;
}

.container_title_list{
  margin-top: 20px;
}

.icon{
  width: 24px;
  height: 24px;
  vertical-align: middle;
  /* ! invece di inserire ogni volta un immagine è preferibile inserire content: '\25BE' in css una sola volta ::before */
  /* content: '\25BE';
  padding-right: 5px; */
}

.title_list{
  color: hsl(222deg 9% 29%);

}

.list_item{
  margin-left: 8px;
  margin-top: 10px;
}

.check{
  color: rgb(0, 255, 0);
  border: rgb(4, 255, 4) solid 1px;
  border-radius: 50%;
  padding: 4px;
  text-align: center;
  font-size: 10px;
}

.cross{
  color: red;
  border: rgb(255, 0, 0) solid 1px;
  border-radius: 50%;
  padding: 4px; 
  text-align: center;
  font-size: 10px;
}

.item_text{
  color: hsl(222deg 9% 29%);

}

/* hsl(204deg 86% 61%) azzurro */
/* hsl(262deg 68% 67%) viola chiaro */
/* hsl(34deg 88% 57%) arancio */
/* hsl(165deg 42% 57%) verde */
/* hsl(328deg 60% 62%) rosa */
/* hsl(69deg 68% 47%) verde chiaro */

.editorial_type{
  background-color: hsl(204deg 86% 61%);
  color: rgb(255, 255, 255);
  padding: 7px;
  border-radius: 40px;
  width: 80px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  display: inline-block;
}

.q1_goals_type{
  background-color: hsl(262deg 68% 67%);
  color: rgb(255, 255, 255);
  padding: 7px;
  border-radius: 40px;
  width: 80px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  display: inline-block;
}

.recruiting_type{
  background-color: hsl(165deg 42% 57%);
  color: rgb(255, 255, 255);
  padding: 7px;
  border-radius: 40px;
  width: 80px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  display: inline-block;
}

.mobile_type{
  background-color: hsl(34deg 88% 57%);
  color: rgb(255, 255, 255);
  padding: 7px;
  border-radius: 40px;
  width: 80px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  display: inline-block;
}

.website_type{
  background-color: hsl(328deg 60% 62%);
  color: rgb(255, 255, 255);
  padding: 7px;
  border-radius: 40px;
  width: 80px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  display: inline-block;
}

.sales_type{
  background-color: hsl(69deg 68% 47%);
  color: rgb(255, 255, 255);
  padding: 7px;
  border-radius: 40px;
  width: 80px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  display: inline-block;
}